:root {
  --overlay-color: rgba(255, 255, 255, .75);
  --overlay-bg-color:rgb(229 231 235);
  --shadow-color: rgba(0, 0, 0, .4);
  --text-color-primary: rgb(17, 24, 39);
  --text-color-regular:rgb(31, 41, 55);
  --text-color-secondary:rgb(75, 85, 99);
  --text-color-disabled:rgb(107, 114, 128);
  --gradient-from: #ca8a04;
  --gradient-to: #dc2626;
  --tag-text-color:rgb(99, 102, 241);
  --border-color: rgb(211, 214, 219);
  --button-hover-bg-color: rgb(229 231 235);
}

html.dark {
  background-color: rgb(40, 44, 51);
  --overlay-color: rgba(34, 39, 46, .75);
  --overlay-bg-color:rgb(31 41 55);
  --shadow-color: rgba(14, 116, 144, .5);
  --text-color-primary: rgb(243 244 246);
  --text-color-regular:rgb(255, 255, 255);
  --text-color-secondary:rgb(156, 163, 175);
  --text-color-disabled: rgb(229, 231, 235);
  --gradient-from: #10b981;
  --gradient-to: #65a30d;
  --tag-text-color:rgb(129, 140, 248);
  --border-color: rgb(59, 69, 85);
  --button-hover-bg-color: rgb(55 65 81);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: 0.75rem;
}

.header-container::before {
  content: "";
  height: 100%;
  width: 100vw;
  /* 100vw包括滚动条宽度，因此会出现横向滚动条 */
  /* border-right: 4px solid rgba(255, 255, 255, 0.8); 少的1vw用边框不上，看不出来 */
  backdrop-filter: blur(8px);
  background-color: var(--overlay-color);

  position: absolute;
  left: 50%;
  /* 将伪元素向右移动50% */
  right: 50%;
  /* 将伪元素向左移动50% */
  margin-left: -50vw;
}

.logo,
.placeholder {
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.placeholder {
  padding: 0.75rem;
}

a {
  position: relative;
  text-decoration: none;
  /* 取消下划线 */
  color: inherit;
  /* 使用父元素的字体颜色 */
}

a>span {
  box-sizing: border-box;
  border-bottom: 0 solid rgb(75, 85, 99);
}

a>span:hover {
  border-bottom: 2px solid rgb(75, 85, 99);
}

.nav-header {
  display: flex;
}

.nav-header span {
  color: var(--text-color-primary);
  margin-left: 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  font-weight: 500;
  transition: background-color 0.15s ease-in-out;
}

.nav-header span:hover {
  background-color: var(--button-hover-bg-color);
  border-bottom: 0px;
}

a a {
  margin-left: 8px;
}

.side-nav {
  cursor: pointer;
  z-index: 10;
}

.hello {
  color: var(--text-color-secondary);
  margin-top: 3rem;
  margin-bottom: 2rem;
  align-items: start;
}

.howdy {
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* line-height: 86px;
  font-size: 4.5rem; */
  font-weight: 800;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, var(--gradient-from),var(--gradient-to));
}

.howdy i {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: 0 0.1em;
  vertical-align: -0.1em;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 1em 1em;
}

.self-introduction,
.self-about {
  color: var(--text-color-primary);
  line-height: 2rem;
  font-size: 1.125em;
}

.self-about p {
  color: var(--text-color-secondary);
  margin-block-end: 0;
}

.self-about p+p {
  margin-block-start: 0;
}

.self-introduction>div span {
  font-weight: 500;
}

#typewriter+span {
  animation: blink 0.8s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.self-about {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.blog-about {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}

.blog-about i {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
}

.blog-about span {
  margin-left: 0.5rem;
  font-size: 1.125rem;
  color: var(--text-color-secondary);
}

#card {
  perspective: 600px;
  /*3d效果的透视距离*/
  transition: transform 0.3s ease;
}

@media (min-width: 768px) {
  #card:hover {
    transform: scale(1.1);
  }

}

.card {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 2rem;
  box-shadow: 2px 2px 4px var(--shadow-color);
  height: fit-content;
  /*剪裁掉多余的空白*/
  transition: transform 0.05s ease;
}

.card-container {
  padding: 0.5rem 1.5rem;
  background-color: rgb(31, 41, 55);
  display: flex;
  align-items: center;
  color: rgb(229 231 235);
}

.card-content {
  padding: 1rem 1.5rem;
}

.card-content h3 {
  font-size: 1.25rem;
  color: var(--text-color-regular);
  font-weight: 600;
  margin: 0;
}

.card-content h5 {
  color: var(--text-color-secondary);
  margin: 0.5rem 0;
  font-size: inherit;
  font-weight: inherit;
}

.social-links {
  color: var(--text-color-secondary);
  margin-top: 20px;
}

.social-links div {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.social-links a+span {
  color: rgb(156, 163, 175);
}

.article-container {
  color: var(--text-color-secondary);
  padding: 3rem 0;
  border-top: 1px solid var(--border-color);
}
.date {
  font-weight: 500;
}

.title {
  color: var(--text-color-primary);
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 0;
  margin-bottom: 0.25rem;
}

.tag {
  color: var(--tag-text-color);
  font-weight: 500;
}

.tag span {
  margin-right: 0.75rem;
}

.description {
  margin: 1.5rem 0;
}

.read-more {
  font-weight: 500;
  color: var(--tag-text-color);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  margin-top: 4rem;
  color: var(--text-color-secondary);
}

@media (min-width: 768px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 10;
    /* width: 100%;
    overflow-x: hidden; */
  }

  .placeholder {
    display: none;
  }

  .howdy {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 86px;
    font-size: 4.5rem;
    font-weight: 800;

  }

  .hello {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* 左边两列合并，宽度是右边一列的两倍 */
  }

  #setting,
  #cross {
    display: none;
  }

  .article-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: baseline;
  }

  .article-container .date {
    margin-top: 0.75rem;

  }
}


@media (max-width: 767px) {
  .header-container {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    top: 0;
  }

  .top-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    background-color: var(--overlay-bg-color);
    width: 100vw;
    height: 100vh;
    opacity: .95;
    z-index: 20;
    transition: transform 0.3s ease-in-out;
  }

  .top-nav a {
    padding: 1rem 0;
  }

  .top-nav span {

    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;

  }

  #cross {
    display: block;
    text-align: right;
    background-image: url(./cross.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    padding: 0;
    margin: 0.75rem;
  }

  .howdy {
    font-size: 2.25rem;
  }

  #card {
    display: none
  }
}